.find-main{
    width: 700px;
    margin: auto;    
}
ul{
    list-style: none;
}
.comm{
    width: 60%;
    margin: auto;
}
.comm ul li{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}
.find-main input{
    margin-top: 20px;
    margin-left: 10%;
    margin-bottom: 20px;
    width: 80%;
    padding: 10px;
    border-radius: 14px;
    border: 1px solid black;
}
.comm ul{
    display: flex;
    flex-direction: column;
}
.comm-btn{
    padding: 5px 10px;
    background-color: white;
    border-radius: 15px;
    border: none;
    margin-right: 10px;
    background-color: lightgray;
}
.cont-1 img{
    width: 40px;
    margin-right: 20px;
    background-color: aqua;
    border-radius: 30px;
}
@media screen and (max-width: 786px) {
    .find-main{
        width: 100%;
    }
    .comm{
        width: 90%;
    }
}